.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background-color: #f0f0f0;

  &.first {
    position: relative;
    background: url('https://wedding-photos.hjpark625.site/7f7e44b8-224b-4eef-a7bb-898c80b76a4b.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;

    .title-section {
      position: absolute;
      top: 18px;
      max-width: min-content;
      left: 0;
      text-align: center;
    }

    .image-upload-button {
      position: absolute;
      top: 20%;
      right: 30px;
      padding: 10px 20px;
      background-color: transparent;
      border: 1px solid #000;
      cursor: pointer;
    }

    .image-upload-input {
      display: none; // Hide the default file input
    }

    @media screen and (max-width: 768px) {
      .title-section {
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }

      .image-upload-button {
        // top: none;
        top: initial;
        bottom: 24px;
        right: 30px;
        background-color: #f0f0f0;
      }
    }
  }
}
