.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #f0f0f0;

  // "https://wedding-photos.hjpark625.site/images/6867199c-d6f3-42ac-86e2-3f5deaedfea7.jpeg",
  // "https://wedding-photos.hjpark625.site/images/bdd562d4-56ae-41a1-812c-1740f5ad3a4a.jpeg",
  // "https://wedding-photos.hjpark625.site/images/5a0a0776-b36a-425b-a6bd-ae840aecd5db.jpeg",

  &.fourth {
    background: url('https://wedding-photos.hjpark625.site/72d06a80-4c0d-46ef-829a-9e0033a1e582.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}
